<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>maxpawgdbs</title>
</head>
<body>
<div style="display: flex;">
    <img src="static/46780654-2cf0-4af3-bd16-5a6e09db88f2.jpg" width="340px" height="340px" style="padding-left: 10%; border-radius: 50%;" >
    <div style="padding-left: 10%;">
        <h1>Привет!</h1>
        <h3>Меня зовут Максим Тараненко</h3>
        <h3>Учусь в 10 классе в Белгородской области.</h3>
        <h3>Программирую с октября 2022</h3>
        <h3>Состою в CTF команде <a href="https://ctftime.org/team/365955">Xorg-workship</a></h3>
        <h3>Мои контакты</h3>
        <div style="display: flex;">
            <a href="https://github.com/maxpawgdbs" style="padding-left: 10px;">
                <img src="static/github-mark.png" width="50px" height="50px">
            </a>
            <a href="https://t.me/maxpawgdbs" style="padding-left: 10px;">
                <img src="static/Telegram_logo.svg.webp" width="50px" height="50px">
            </a>
            <a href="https://ctftime.org/user/229859" style="padding-left: 10px;">
                <img src="static/ctftime.png" width="50px" height="50px">
            </a>
        </div>
        <h2>Знаю следующие технологии:</h2>
        <ul>
            <li>Python</li>
            <li>PyQt5</li>
            <li>Pygame</li>
            <li>Flask</li>
            <li>Django</li>
            <li>SQLite3</li>
            <li>PyTorch</li>
            <li>HTML, CSS, JS</li>
            <li>C++</li>
            <li>Golang</li>
            <li>C#</li>
            <li>Unity</li>
            <li>OpenGL</li>
        </ul>
        <h2>Достижения</h2>
        <h3>Был на сменах В Летней ИТ-Школе Белгородская область в 2023 и 2024 годах</h3>
        <h3>Призер регионального этапа ВСОШ по информатике 2024-2025</h3>
        <h5>292 балла</h5>
        <h3>С отличием окончил курс &quot;Основы промышленного программирования&quot; от Яндекс Лицея</h3>
        <h5>Номер сертификата 2302 196470 Тараненко</h5>
        <h3>Окончил курс по Веб-разработке на Django от Яндекс Лицея, 5 место по рейтингу среди учеников курса</h3>
        <h5>Номер сертификата 2487 196470 Тараненко</h5>
        <h2>Мои проекты</h2>
        <h3><a href="https://github.com/maxpawgdbs/SCTB">System of Control Telegram Bot</a></h3>
        <h3><a href="https://github.com/maxpawgdbs/project-pygame">Игра на Pygame</a></h3>
        <h3><a href="https://github.com/maxpawgdbs/project-flask">Сайт с музыкой</a></h3>
        <h3><a href="https://github.com/maxpawgdbs/yandex-django">Проект на Django с курса Яндекс лицея</a></h3>
        <h3><a href="https://github.com/maxpawgdbs/kanhub">KanHub</a></h3>
        <h3><a href="https://github.com/Remziz/Valley-of-Future">Valley Of Future</a></h3>
        <h3><a href="https://github.com/maxpawgdbs/yandex-go">Golang Calculator</a></h3>
        <h3><a href="https://github.com/maxpawgdbs/no-module-heural-network">Нейросеть на чистом Python</a></h3>
        <h3><a href="https://github.com/maxpawgdbs/pseudo-3d">Жалкие попытки в 3д графику</a></h3>
        <h3><a href="https://github.com/maxpawgdbs/maxpawgdbs.ru">maxpawgdbs.ru</a></h3>
        <h3><a href="https://github.com/maxpawgdbs/spm.maxpawgdbs.ru">spm.maxpawgdbs.ru</a></h3>
    </div>
</div>
</body>
</html>